.__n-yobiko-plus_video-time__trigger, .__n-yobiko-plus_video-time__popover {
  font-weight: normal;
}

.__n-yobiko-plus_video-time__trigger {
  font-size: 14px;
  white-space: nowrap;
}

.__n-yobiko-plus_video-time__popover {
  position: fixed;
  translate: -50% 0;
  opacity: 0;
  z-index: 10000;
  background-color: #fdfdfd;
  border: 1px solid #efefef;
  box-shadow: 0 0 2px #ddd;
  padding: 7px;
  width: max-content;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
  font-size: 12px;
  pointer-events: none;
  transition: opacity .2s;
}

.__n-yobiko-plus_video-time__popover dt {
  grid-column: 1;
}

.__n-yobiko-plus_video-time__popover dd {
  grid-column: 2;
}
